guisrv
gui_demo_test
gui_demo
dhjsjs
dhjsjs_cc
media_player
desktop_gui
gui_srv
http_client
tls_client
genwav
main
ide.o
test_aes
test_gcm
test_gcm2
test_gcm_dec
test_sha256
.zig-cache/
zig-out/
output/
*.wav
